label {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25;
    
    }
  
  body {
    background-color: Black;
    color: rebeccapurple;
    font-family: Arial;
    font-size: 18px;
    width: 100%;
    margin: 1;
  }
  form {
    width: 70vw;
    max-width: 500px;
    min-width: 250px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  textarea {
    margin: 10px;
  
  
  }
  h1, p {
    margin: 2em auto;
    text-align: center;
  }
  input, select {
    margin: 7px;
    height: 25;
  }
  